/* src/styles/leaflet-popup.css */
.custom-popup {
    background-color: #f0f0f0;
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    color: #333;
  }
  
  .custom-popup .leaflet-popup-content-wrapper {
    background: none;
    border: none;
  }
  
  .custom-popup .leaflet-popup-tip {
    background-color: #007bff;
  }
  
  .leaflet-routing-alternatives-container {
    width: 290px;
    height: 400px;
    overflow: auto;
    font-size: 14px;
    background: whitesmoke;
    padding: 5px 10px;
}

h2{
  font-size: 20px;
  text-align: right;
  color: #000000;
  font-weight: bold;
}

h3{
  font-size: 20px;
  color: #9b0000;
}
.borderContent {
  border: 1px solid rgb(185 185 185);
  box-shadow: 1px 2px 4px 2px #e1e1e1;
  border-radius: 10px;
}